@import "../config";

.task {
  .task-content {
    // animation: fade-in 0.5s;
    transition: all 0.5s ease-in-out;
  }
  .task-content.completed {
    text-decoration: line-through;
    transition: all 0.5s ease-in-out;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
