$poppins-h1: 48.8px;
$poppins-h2: 39px;
$poppins-h3: 31.3px;
$poppins-h4: 25px;
$poppins-h5: 20px;

$poppins-body: 16px;

$roboto-h1: 96px;
$roboto-h2: 60px;
$roboto-h3: 34px;
$roboto-h4: 24px;
$roboto-h5: 20px;

$roboto-body: 16px;


$primary-text: #221339;
$secondary-text: #F3F2F5;

$primary-color: #F72585;
$primary-variant: #AF1A5E;
$secondary-color: #480CA8;

$light-secondary-variant: #330977;
$dark-secondary: #BB91FF;
$dark-secondary-variant: #510EBE;
$dark-secondary-progress: #485575;


$light-background: #F7F8F9;
$dark-background: #1C2230; 

$light-surface: #FFFFFF;
$dark-surface: #283042;



$shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);