@import "config";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');


.wrapper {
  font-size: $roboto-body;
  width: 100vw;
  height: 100vh;
  background-color:$light-background;
}

.main {
  width: 80vw;
  max-width: 550px;
  height: 100%;
  margin: auto;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Roboto", sans-serif;
  color: $primary-text;
}