@import "../index.scss";

.wrapper.dark {
  background-color: $background-dark;
  color: $secondary-text;

  .profile {
    fill: $secondary-text;
  }

  .summary {
    background-color: $surface-dark;
  }
}
