* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
}

@mixin rounded {
  border-radius: 15px;
}

@mixin rp {
}

@mixin name {
}

$poppins-h1: 48.8px;
$poppins-h2: 39px;
$poppins-h3: 31.3px;
$poppins-h4: 25px;
$poppins-h5: 20px;

$poppins-body: 16px;

$roboto-h1: 96px;
$roboto-h2: 60px;
$roboto-h3: 34px;
$roboto-h4: 24px;
$roboto-h5: 20px;

$roboto-body: 16px;

$primary-text: #221339;
$secondary-text: #f3f3f5;
$surface-light: #fff;
$background-light: #f7f8f9;
$primary-color: #f72585;
$secondary-color: #480ca8;
$light-gray: rgba(125, 125, 125, 0.1);
$gray-50: rgba(125, 125, 125, 0.5);

$secondary-dark: #bb91ff;
$surface-dark: #283042;
$background-dark: #1c2230;

$shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
