@import "../../index.scss";

.container {
  .num-of-taks {
    @include roboto;
    margin: 8px 20px;
    &.work {
      color: $primary-color;
    }
    &.home {
      color: $secondary-color;
    }
  }

  .task-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
